<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.RoutesMapper">
	<select id="findRoutes" resultType="com.example.demo.dto.RoutesDto">
		SELECT * from routes where seat > #{resnum}
		<if test="departure != null and departure != ''">
		and departure=#{departure}
		</if>
		<if test="arrival != null and arrival != ''">
		AND arrival=#{arrival}
		</if>
		<if test="departureDate != null and departureDate != ''">
		AND DATE(departure_time) = #{departureDate}
		</if>
		<if test="departureDate == null or departureDate == ''">
		AND DATE(departure_time) >= now()
		</if>
	</select>
	<select id="getAvaiSeats" resultType="com.example.demo.dto.SeatDto">
		SELECT * FROM trainseat WHERE routeid = #{routeid} order by seatid asc LIMIT #{offset}, #{size}
	</select>
	<select id="getTotalSeat" resultType="int">
		SELECT COUNT(*) FROM trainseat WHERE routeid = #{routeid}
	</select>
	<select id="getDepartureRoutes" resultType="com.example.demo.dto.RoutesDto">
		SELECT * FROM routes WHERE departure_time >= '2025-01-01' AND departure IN ('서울역', '부산역')
		ORDER BY departure_time desc LIMIT 5 
	</select>
	<select id="getArrivalRoutes" resultType="com.example.demo.dto.RoutesDto">
		SELECT * FROM routes WHERE departure_time >= NOW() AND arrival IN ('서울역', '부산역')
		ORDER BY departure_time LIMIT 5
	</select>
	
	<select id="getAllStations" resultType="com.example.demo.dto.StationsDto">
		SELECT * FROM stations
	</select>
	<insert id="addRoutes" parameterType="com.example.demo.dto.RoutesDto">
		INSERT INTO routes (departure, arrival, departure_time, arrival_time, trainid, charge)
		VALUES (#{departure}, #{arrival}, #{departureTime}, #{arrivalTime}, #{trainid}, #{unitPrice})
	</insert>
	<select id="getAllTraines" resultType="com.example.demo.dto.TrainesDto">
		SELECT * FROM traines<!--  order by capa desc, trainid asc --> 
	</select>
	<!-- 아직 좌석이 없는 routeid를 조회 -->
	<select id="getRouteidForAddingSeats" resultType="int">
		SELECT routeid FROM routes WHERE routeid NOT IN (SELECT routeid FROM trainseat) LIMIT 1
	</select>
	<!-- 해당 routeid의 capa를 가져오는 쿼리 -->
	<select id="getRouteCapa" resultType="map">
		SELECT seat FROM routes WHERE routeid = #{routeid}
	</select>
	
	<select id="getAllRoutes" resultType="com.example.demo.dto.RoutesDto">
		SELECT * FROM routes WHERE departure_time >= NOW() ORDER BY departure_time 
	</select>
	<select id="getRoutesWithPagination" resultType="com.example.demo.dto.RoutesDto">
		SELECT * FROM routes ORDER BY departure_time ASC LIMIT #{limit} OFFSET #{offset}
	</select>
	<select id="getTotalRoutesCount" resultType="int">
		SELECT COUNT(*) FROM routes
	</select>
	<!-- <select id="getDepartureRoutes" resultType="com.example.demo.dto.RoutesDto">
		SELECT * FROM routes WHERE departure_time >= NOW() AND departure IN ('서울역', '부산역')
		ORDER BY departure_time LIMIT 5
	</select>
	<select id="getArrivalRoutes" resultType="com.example.demo.dto.RoutesDto">
		SELECT * FROM routes WHERE departure_time >= NOW() AND arrival IN ('서울역', '부산역')
		ORDER BY departure_time LIMIT 5
	</select> -->
	<select id="getRoutesByDate" parameterType="String" resultType="com.example.demo.dto.RoutesDto">
		SELECT * FROM routes WHERE DATE(departure_time) = #{date}
	</select>
	<select id="getTotalSeatsByRouteid" resultType="map">
		SELECT routeid, CAST(SUM(CASE WHEN reserv = 1 THEN 1 ELSE 0 END) AS SIGNED)
		AS avaiSeats FROM trainseat GROUP BY routeid
	</select>
	
	<select id="getRouteTime" parameterType="map" resultType="com.example.demo.dto.RouteTimeDto">
		SELECT * FROM routeTimes
		WHERE (dep = #{a} AND arr = #{b}) OR (dep = #{b} AND arr = #{a})
	</select>
	<select id="getSeatsForRoute" resultType="com.example.demo.dto.SeatDto">
	    SELECT * FROM seates
	</select>
	<insert id="addSeats">
		INSERT INTO trainseat (routeid, seatid, seatnum) VALUES
		<foreach collection="seatNumbers" item="seat" separator=",">
			(#{routeid}, #{seat.seatid}, #{seat.seatnum})
		</foreach>
	</insert>
	<select id="getRoutes" parameterType="map" resultType="com.example.demo.dto.RoutesDto">
		SELECT * FROM routes where departure_time >= now()
		order by departure_time desc LIMIT #{offset}, #{itemsPerPage}
	</select>
	<!-- 항공편 총 개수 조회 -->
	<select id="countRoutes" resultType="int">
		SELECT COUNT(*) FROM routes WHERE departure_time >=now()
	</select>
	
	<select id="getAvaiRoutes" resultType="com.example.demo.dto.RoutesDto">
		SELECT * FROM routes
	</select>
	<select id="getDepByDate" resultType="string" parameterType="string">
		SELECT DISTINCT departure FROM routes WHERE DATE(departure_time) = #{date}
	</select>
	<select id="getArrivalByDepAndDate" resultType="string" parameterType="map">
		SELECT DISTINCT arrival FROM routes WHERE departure = #{departure}
		AND DATE(departure_time) = #{date}
	</select>
	
</mapper>

